@font-face{
	font-family:"messapia";
	src: url("font/messapia.otf") format("opentype");
}
@font-face{
	font-family:"sprat";
	src: url("font/Sprat-Variable.ttf") format("truetype");
}

body{

	overflow:scroll;
	margin:0;
	padding:0;
	/*background:#c7bdce;*/
	background: linear-gradient(-180deg, #c7bdce, #c7bdce,white,white);

	
}
/*COMPUTER*/
@media screen and (min-width: 655px) { 
.Loop {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align:left;
  width:100%;
  margin:auto;
  font-weight:bold;
  
}
 }
 
 /*PHONE*/
 @media screen and (max-width: 655px) { 
 .Loop {
   position: relative;
   height: 100%;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   text-align:left;
   width:100%;
   margin:auto;
   font-weight:bold;
  
 }
  }
 


.scroll{
	transform:rotateX:60deg;
	translate3d:0px, -18009px, 0px;
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.pirra{
	
	font-size:10vh;
	line-height:10vh;
	display:flex;
	justify-content:center;
	padding:0;
	margin:0;

	
}
 }
 /*PHONE*/
 @media screen and (max-width: 655px) { 
.pirra{
	
	font-size:10vw;
	line-height:10vw;
	display:flex;
	justify-content:center;
	padding:0;
	margin:0;

	
}
}


/*COMPUTER*/
@media screen and (min-width: 655px) { 
.header{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:0%;
	box-size:10vh;
	height:10%;
	background:#c7bdce;
	padding:0;
	margin:0;
	position:sticky;
	overflow:absolute;
}
 }
 
 /*PHONE*/
 @media screen and (max-width: 655px) { 
 .header{
 	display:flex;
 	flex-direction:row;
 	justify-content:center;
 	margin-top:0%;
 	box-size:10vw;
 	height:10vw;
 	background:#c7bdce;
	padding:0;
	margin:0;
	position:sticky;
 }
  }

.gif{
	display:flex;
	flex-direction:row;
	justify-content:center;
}


/*COMPUTER*/
@media screen and (min-width: 600px) { 

h1{
	font-family:"messapia";
	font-weight:normal;
	font-size:11vw;
	position:absolute;
	
	
}
 }
 
 /*PHONE*/
 @media screen and (max-width: 600px) { 

 h1{
 	font-family:"messapia";
 	font-weight:normal;
 	font-size:1;
 	position:absolute;
	
	
 }
  }

 
  /*COMPUTER*/
 @media screen and (min-width: 655px) { 
img{
	padding-top:;
	width:20%;
	height:20%;
	display:flex;
	justify-content:center;
	text-align: center; 
	
	
}
 }
 
  /*PHONE*/
 @media screen and (max-width: 655px) { 
img{
	width:10vh;
	height:10vh;
	display:flex;
	justify-content:center;

	
	
}
 }
 
 

.img-place{
	display:flex;
	justify-content:center;
	margin-top:0em;
	margin-bottom:0em;
	

	
	
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
p{
	font-family:"messapia";
	font-weight:normal;
	font-size:5.6vw;
	display:flex;
	justify-content:center;
	padding:0;
	margin:0;
	
	
}
 }
 
 /*PHONE*/
 @media screen and (max-width: 655px) { 
 p{
 	font-family:"messapia";
 	font-weight:normal;
 	font-size:6vw;
 	transform:rotateX:60deg;
 	display:flex;
 	justify-content:center;
 	padding:0;
 	margin:0;
	
	
 }
  }
  /*PHONE*/
  @media screen and (max-width: 655px) { 
.plats	  {
	font-size:2vw;
} 
 } 
 

/*COMPUTER*/
@media screen and (min-width: 1000px) { 
h3{
	font-family:"messapia";
	font-weight:normal;
	font-size:2vw;
	line-height:2.5vw;
	display:flex;
	justify-content:center;
	padding:0;
	margin-left:15vw;
	margin-right:15vw;
	
	
}
 }
 
 /*PHONE*/
 @media screen and (max-width: 1000px) { 
 h3{
 	font-family:"messapia";
 	font-weight:normal;
 	font-size:3vw;
	line-height:3.5vw;
 	display:flex;
 	justify-content:center;
 	padding:0;
 	margin-left:2vw;
 	margin-right:2vw;
	
	
 }
  }
  
.location{
	padding-bottom:5em;
}  


 

a:link, a:visited {
	color:black;
	background-color:transparent;
	text-decoration:none;
}

a:hover, a:active {
	color:	#97ab92;
	background-color:transparent;
	text-de
}

#name{
	font-family:"sprat";
	font-weight:normal;
	
}




::-webkit-scrollbar {
	display:none;
}
