@font-face{
	font-family:"messapia";
	src: url("font/messapia.otf") format("opentype");
}


html{
	 background:#f7f7f7; 
	 overflow:none;
	 cursor:default;
	
}

.main{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	
}

.top{
	position:sticky;
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.header{
	display:flex;
	justify-content:center;
	height:16vh;
	border-bottom: 1px solid black;
}   
}

/*PHONE*/
@media screen and (max-width: 655px) { 
.header{
	display:flex;
	justify-content:center;
	height:25vh;
	border-bottom: 1px solid black;
}   
}

.wrapper{
	border-bottom: 1px solid black;
	/*height:5vh;*/
	
}

.info-text{
	display:none;
}

.exhibition-text{
	display:none;
}


.foot{
    
    bottom: 5%;

    width: 100%;
    text-align: center;
	transition: 1s ease-in-out;	
	cursor:pointer;

	
}

.foot:hover{
	-webkit-transform: translateX(1.5em);
	transform: translateX(1.5em);
}

.logo{
	transition: 1s ease-in-out;	
}

.logo:hover{
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.logo a:link,.logo a:visited {
	color:black;
	background-color:transparent;
	text-decoration:none;
	cursor:default;
}
.logo a:hover,.logo a:active {
	color:black;
	background-color:transparent;
	text-decoration:none;
	cursor:default;
}


/* TEXT STYLE */


/*COMPUTER*/
@media screen and (min-width: 655px) { 
h1{
	font-family:"messapia";
	color:black;
	
}	
}

/*PHONE*/
@media screen and (max-width: 655px) { 
h1{
	font-family:"messapia";
	color:black;
	font-size:9vw;
	margin-left:1vw;
}	
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
h2{
	font-family:georgia;
	font-weight:normal;
	font-size:24px;
	margin-left:10vw;
	height:4vh;
	
}
}

/*PHONE*/
@media screen and (max-width: 655px) { 
h2{
	font-family:georgia;
	font-weight:normal;
	font-size:20px;
	margin-left:1vw;
	height:3.5vh;
	
}
}

/* link to h2 */

a:link, a:visited {
	color:black;
	background-color:transparent;
	text-decoration:none;
	cursor:cell;
}

a:hover, a:active {
	color:	#5c87ff;
	background-color:transparent;
	text-decoration:none;
	cursor:cell;
}

/* link to h2 */


/*COMPUTER*/
@media screen and (min-width: 655px) { 
h3{
	font-family:georgia;
	font-weight:normal;
	color:	#5c87ff;
}
}

/*PHONE*/
@media screen and (max-width: 655px) { 
h3{
	font-family:georgia;
	font-weight:normal;
	font-size:20px;
	line-height:30px;
	color:	#5c87ff;
	margin-bottom:1vw;
	margin-top:1vw;
}
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.about{
	font-family:georgia;
	font-weight:normal;
	color:	#5c87ff;
	margin-left:10vw;
	margin-right:10vw;
}
}

/*COMPUTER*/
@media screen and (max-width: 655px) { 
.about{
	font-family:georgia;
	font-weight:normal;
	color:	#5c87ff;
	margin-left:1vw;
	margin-right:1vw;
}
}
.projects{
	font-family:georgia;
	font-weight:normal;
	color:	#5c87ff;
	
	
	
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.container-1{
	display:flex;
	justify-content:space-between;
	margin-left:10vw;
	margin-right:10vw;
	border-top: 1px solid #5c87ff;
}	
}

/*PHONE*/
@media screen and (max-width: 655px) { 
.container-1{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	margin-left:1vw;
	margin-right:1vw;
	border-top: 1px solid #5c87ff;
	margin-bottom:1vw;
}	
}


h3 a:link,h3 a:visited {
	color:#5c87ff;
	background-color:transparent;
	text-decoration:none;
	cursor:cell;
}

h3 a:hover,h3 a:active {
	color:	#5c87ff;
	background-color:transparent;
	text-decoration:underline;
	cursor:cell;
}



.line{
	border-bottom: 1px solid black;
}

h4{
	font-family:georgia;
	font-weight:normal;
	
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
p{
	font-family:georgia;
	font-weight:normal;
	font-size:20px;
	line-height:34px;
}	
}

/*PHONE*/
@media screen and (max-width: 655px) { 
p{
	font-family:georgia;
	font-weight:normal;
 	font-size:20px;
 	line-height:30px;
}	
}

#moving{
	margin-top:4vh;
}

/*exhibition style*/

.first{
	display:flex;
	padding-top:50px;
	width:100%;
}

.location{
	width:50%;
	padding-left:10%;
	padding-right:1%;
}
.exhibition-name{
	width:50%;
	padding-right:10%;
	padding-left:1%;
}

.second{
	display:flex;
	
	padding-top:50px;
	
}


/*COMPUTER*/
@media screen and (min-width: 655px) { 
.images{
	width:100%;
	padding-left:1%;
	padding-right:1%;
	flex-direction:row;
    background-color: ;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
    color: black;
    position: center;
}    
}

/*PHONE*/
@media screen and (max-width: 655px) { 
.images{
	display:none;
}    
}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.imagesphone{
	display:none;
}
}

/*PHONE*/
@media screen and (max-width: 655px) { 
	.imagesphone{
		width:100%;
		padding-left:1%;
		padding-right:1%;
		flex-direction:row;
	    background-color: ;
	    overflow: auto;
	    white-space: nowrap;
	    display: inline-block;
	    color: black;
	    position: center;
	}
	}

/*COMPUTER*/
@media screen and (min-width: 655px) { 
.text{
	width:50%;
	margin-left:10vw;
	margin-top:5vw;
}	
}

/*PHONE*/
@media screen and (max-width: 655px) { 
.text{
	margin-right:2vw;
	margin-left:2vw;
	margin-top:10vw;
}	
}





